pages/automation/soar.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOAR Platforms - Detection Engineering Mastery</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="layout">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="../../index.html" class="logo">
                    <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M12 2L2 7l10 5 10-5-10-5z"></path><path d="M2 17l10 5 10-5"></path><path d="M2 12l10 5 10-5"></path></svg>
                    <span>Detection Engineering</span>
                </a>
            </div>
            <div class="nav-sections">
                <div class="nav-section expanded" data-section="automation">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
                            <span>Automation & Scripting</span>
                        </div>
                    </div>
                    <div class="nav-items">
                        <a href="fundamentals.html" class="nav-item">Automation Fundamentals</a>
                        <a href="python-security.html" class="nav-item">Python for Security</a>
                        <a href="powershell-security.html" class="nav-item">PowerShell for Security</a>
                        <a href="bash-security.html" class="nav-item">Bash for Security</a>
                        <a href="soar.html" class="nav-item active">SOAR Platforms</a>
                        <a href="api-integration.html" class="nav-item">API Integration</a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="main-content">
            <div class="content">
                <nav class="breadcrumb">
                    <a href="../../index.html">Home</a>
                    <span class="separator">/</span>
                    <a href="fundamentals.html">Automation</a>
                    <span class="separator">/</span>
                    <span class="current">SOAR Platforms</span>
                </nav>

                <header class="page-header">
                    <h1>SOAR Platforms</h1>
                    <p class="subtitle">Security Orchestration, Automation, and Response platforms—playbook design, integration patterns, and implementation strategies.</p>
                </header>

                <section class="content-section">
                    <h2>What is SOAR?</h2>
                    
                    <p>SOAR (Security Orchestration, Automation, and Response) platforms combine three capabilities to accelerate security operations:</p>

                    <div class="comparison-grid">
                        <div class="comparison-card">
                            <h4>Orchestration</h4>
                            <p>Connect and coordinate multiple security tools through integrations.</p>
                            <ul>
                                <li>SIEM integration</li>
                                <li>EDR/XDR connectors</li>
                                <li>Threat intel feeds</li>
                                <li>Ticketing systems</li>
                            </ul>
                        </div>
                        <div class="comparison-card">
                            <h4>Automation</h4>
                            <p>Execute repetitive tasks without human intervention.</p>
                            <ul>
                                <li>IOC enrichment</li>
                                <li>Alert triage</li>
                                <li>Data collection</li>
                                <li>Report generation</li>
                            </ul>
                        </div>
                        <div class="comparison-card">
                            <h4>Response</h4>
                            <p>Take containment and remediation actions.</p>
                            <ul>
                                <li>Host isolation</li>
                                <li>User disable</li>
                                <li>IP blocking</li>
                                <li>Ticket creation</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Major SOAR Platforms</h2>

                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Platform</th>
                                <th>Vendor</th>
                                <th>Key Strengths</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Microsoft Sentinel</strong></td>
                                <td>Microsoft</td>
                                <td>Native Azure/M365 integration, Logic Apps</td>
                            </tr>
                            <tr>
                                <td><strong>Cortex XSOAR</strong></td>
                                <td>Palo Alto</td>
                                <td>Large marketplace, mature platform</td>
                            </tr>
                            <tr>
                                <td><strong>Splunk SOAR</strong></td>
                                <td>Splunk (Cisco)</td>
                                <td>Deep Splunk integration, visual playbooks</td>
                            </tr>
                            <tr>
                                <td><strong>Chronicle SOAR</strong></td>
                                <td>Google</td>
                                <td>Siemplify acquisition, GCP native</td>
                            </tr>
                            <tr>
                                <td><strong>Tines</strong></td>
                                <td>Tines</td>
                                <td>No-code, flexible, modern UI</td>
                            </tr>
                            <tr>
                                <td><strong>Swimlane</strong></td>
                                <td>Swimlane</td>
                                <td>Low-code, case management</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="content-section">
                    <h2>Sentinel Automation</h2>

                    <h3>Automation Rules vs Playbooks</h3>
                    <div class="grid-2">
                        <div class="info-box">
                            <h4>Automation Rules</h4>
                            <ul>
                                <li>Lightweight, runs on incident creation</li>
                                <li>No code required</li>
                                <li>Change severity, status, owner</li>
                                <li>Trigger playbooks</li>
                                <li>Suppress/close incidents</li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4>Playbooks (Logic Apps)</h4>
                            <ul>
                                <li>Complex workflows</li>
                                <li>External API calls</li>
                                <li>Conditional logic</li>
                                <li>Human approval steps</li>
                                <li>Response actions</li>
                            </ul>
                        </div>
                    </div>

                    <h3>Example: IOC Enrichment Playbook</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>Logic App Workflow (JSON)</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>{
    "definition": {
        "$schema": "https://schema.management.azure.com/schemas/.../workflowdefinition.json#",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Get_Incident_Entities": {
                "type": "ApiConnection",
                "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                    "method": "post",
                    "path": "/Incidents/entities",
                    "body": { "incidentArmId": "@triggerBody()?['object']?['id']" }
                }
            },
            "For_Each_IP": {
                "type": "Foreach",
                "foreach": "@body('Get_Incident_Entities')?['IPs']",
                "actions": {
                    "Query_VirusTotal": {
                        "type": "Http",
                        "inputs": {
                            "method": "GET",
                            "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{items('For_Each_IP')?['Address']}",
                            "headers": { "x-apikey": "@parameters('VT_API_KEY')" }
                        }
                    },
                    "Add_Comment": {
                        "type": "ApiConnection",
                        "inputs": {
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "VT Result: @{body('Query_VirusTotal')?['data']?['attributes']?['last_analysis_stats']}"
                            },
                            "path": "/Incidents/Comment"
                        }
                    }
                }
            }
        }
    }
}</code></pre>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Cortex XSOAR</h2>

                    <h3>Playbook Structure</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>XSOAR Playbook YAML</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>id: phishing-investigation
name: Phishing Email Investigation
description: Automated investigation of reported phishing emails
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: start
    type: start
    nexttasks:
      '#none#':
      - "1"

  "1":
    id: "1"
    taskid: extract-indicators
    type: regular
    task:
      name: Extract Indicators from Email
      script: ExtractIndicatorsFromEmail
    nexttasks:
      '#none#':
      - "2"

  "2":
    id: "2"
    taskid: enrich-indicators
    type: playbook
    task:
      name: Enrich Indicators
      playbookName: Indicator Enrichment - Generic
    nexttasks:
      '#none#':
      - "3"

  "3":
    id: "3"
    taskid: check-malicious
    type: condition
    task:
      name: Check if Malicious
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: ${DBotScore(val.Score >= 3)}
    nexttasks:
      "yes":
      - "4"
      '#default#':
      - "5"

  "4":
    id: "4"
    taskid: containment
    type: regular
    task:
      name: Block Sender and URLs
      script: BlockIndicators
    nexttasks:
      '#none#':
      - "6"

  "5":
    id: "5"
    taskid: benign
    type: regular
    task:
      name: Mark as Benign
      script: closeInvestigation
    arguments:
      closeReason: "Benign - No malicious indicators found"

  "6":
    id: "6"
    taskid: create-ticket
    type: regular
    task:
      name: Create ServiceNow Ticket
      script: ServiceNow-CreateIncident
    arguments:
      short_description: "Confirmed Phishing: ${incident.name}"
      urgency: "2"</code></pre>
                    </div>

                    <h3>XSOAR Integration Script</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>Custom Integration (Python)</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>import demistomock as demisto
from CommonServerPython import *
import requests

def check_ip_reputation(ip: str) -> dict:
    """Check IP against threat intel source"""
    api_key = demisto.params().get('api_key')
    base_url = demisto.params().get('base_url')
    
    response = requests.get(
        f"{base_url}/ip/{ip}",
        headers={"Authorization": f"Bearer {api_key}"},
        verify=True
    )
    response.raise_for_status()
    
    data = response.json()
    
    # Calculate DBot score
    if data.get('malicious'):
        dbot_score = 3  # Malicious
    elif data.get('suspicious'):
        dbot_score = 2  # Suspicious
    else:
        dbot_score = 1  # Good
    
    return CommandResults(
        outputs_prefix='ThreatIntel.IP',
        outputs_key_field='ip',
        outputs={
            'ip': ip,
            'reputation': data.get('reputation'),
            'malicious': data.get('malicious', False),
            'categories': data.get('categories', [])
        },
        indicator=Common.IP(
            ip=ip,
            dbot_score=Common.DBotScore(
                indicator=ip,
                indicator_type=DBotScoreType.IP,
                score=dbot_score,
                integration_name='ThreatIntel'
            )
        )
    )

def main():
    command = demisto.command()
    
    if command == 'test-module':
        return_results('ok')
    elif command == 'ip':
        ip = demisto.args().get('ip')
        return_results(check_ip_reputation(ip))

if __name__ in ('__main__', '__builtin__', 'builtins'):
    main()</code></pre>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Playbook Design Patterns</h2>

                    <h3>Common Playbook Templates</h3>
                    <div class="comparison-grid">
                        <div class="comparison-card">
                            <h4>Phishing Response</h4>
                            <ol>
                                <li>Extract indicators from email</li>
                                <li>Enrich URLs, IPs, hashes</li>
                                <li>Check sender reputation</li>
                                <li>Search mailboxes for similar</li>
                                <li>Block malicious indicators</li>
                                <li>Notify affected users</li>
                            </ol>
                        </div>
                        <div class="comparison-card">
                            <h4>Malware Alert</h4>
                            <ol>
                                <li>Collect endpoint details</li>
                                <li>Get file hash and enrich</li>
                                <li>Query EDR for spread</li>
                                <li>Isolate if high severity</li>
                                <li>Collect forensic artifacts</li>
                                <li>Create ticket, notify team</li>
                            </ol>
                        </div>
                        <div class="comparison-card">
                            <h4>Failed Login Investigation</h4>
                            <ol>
                                <li>Aggregate failed attempts</li>
                                <li>Check source IP reputation</li>
                                <li>Determine if spray or brute</li>
                                <li>Check for successful login</li>
                                <li>Block IP if threshold met</li>
                                <li>Alert if account compromised</li>
                            </ol>
                        </div>
                    </div>

                    <h3>Best Practices</h3>
                    <div class="info-box tip">
                        <h4>💡 Playbook Design Guidelines</h4>
                        <ul>
                            <li><strong>Start simple:</strong> Begin with high-volume, low-risk automation</li>
                            <li><strong>Human-in-the-loop:</strong> Require approval for containment actions</li>
                            <li><strong>Error handling:</strong> Handle API failures gracefully</li>
                            <li><strong>Logging:</strong> Log all actions for audit trail</li>
                            <li><strong>Idempotency:</strong> Playbooks should be safe to re-run</li>
                            <li><strong>Timeouts:</strong> Set appropriate timeouts for external calls</li>
                            <li><strong>Testing:</strong> Test with sample data before production</li>
                        </ul>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Interview Preparation</h2>
                    
                    <div class="expandable">
                        <button class="expandable-header">
                            <span>Q: Describe a SOAR playbook you've built and its impact.</span>
                            <span class="expand-icon">+</span>
                        </button>
                        <div class="expandable-content">
                            <p><strong>Example answer:</strong></p>
                            <p>"I built a phishing triage playbook in Sentinel that automated 80% of our phishing alert handling. The playbook:</p>
                            <ol>
                                <li>Extracted URLs, IPs, and attachments from reported emails</li>
                                <li>Enriched indicators via VirusTotal and URLhaus</li>
                                <li>Searched other mailboxes for the same sender/subject</li>
                                <li>Auto-closed benign reports with analyst notification</li>
                                <li>For malicious: blocked sender, quarantined emails, created ticket</li>
                            </ol>
                            <p>Impact: Reduced average handling time from 15 minutes to 2 minutes per alert, and analysts could focus on confirmed threats."</p>
                        </div>
                    </div>

                    <div class="expandable">
                        <button class="expandable-header">
                            <span>Q: When should you NOT automate a response action?</span>
                            <span class="expand-icon">+</span>
                        </button>
                        <div class="expandable-content">
                            <p><strong>Don't fully automate when:</strong></p>
                            <ul>
                                <li><strong>High business impact:</strong> Disabling executive accounts, blocking production IPs</li>
                                <li><strong>Low confidence:</strong> ML-based detections with high FP rate</li>
                                <li><strong>Irreversible actions:</strong> Wiping devices, permanent blocks</li>
                                <li><strong>Novel attacks:</strong> First-time TTPs requiring investigation</li>
                                <li><strong>Compliance requirements:</strong> Some regulations require human review</li>
                            </ul>
                            <p><strong>Instead:</strong> Use human-in-the-loop workflows—automate enrichment and preparation, but require analyst approval before containment.</p>
                        </div>
                    </div>
                </section>

                <nav class="page-nav">
                    <a href="bash-security.html" class="nav-link prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg>
                        Bash for Security
                    </a>
                    <a href="api-integration.html" class="nav-link next">
                        API Integration
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </a>
                </nav>
            </div>
        </main>
    </div>
    <script src="../../js/sidebar.js"></script>
</body>
</html>
